/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0; 
}

img {
    display: block;
}

a {
    text-decoration: none;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}


/* index.html */



.hero {
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
}

.team-section {
    background-color: var(--sectionourteam-background);
}

.footer {
    background-color: var(--footer-background);
}

/* header */
.header {
padding-top: 24px;
padding-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .nav-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.nav-link {
color: var(--h2h3text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.active {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 344px;
}


.header-link {
color: var(--text-color);
font-family: "Roboto", sans-serif; 
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
 
.logo-span {
    color: var(--accent-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.logo {
    color: var(--logo-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

/* секція герой */
.hero-title {
    color: var(--background12text-color);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 44px;
font-weight: 900;
line-height: 1.36; 
letter-spacing: 2.64px;
text-transform: uppercase;
}
/* 
.hero-box {
    justify-content: center;
} */

.hero-button {
    color: var(--background12text-color);
background-color: var(--accent-color);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
display: block;
margin: 0 auto;
margin-top: 30px;
}


/* секція переваги */
.perevagy-section {
    padding-top: 94px;
}

.perevagy-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
}

.perevagy-title {
    color: var(--h2h3text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.perevagy-text {
    color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
margin-top: 10px;
}

/* секція чим ми займаємося */
.whatwearedoing-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.whatwearedoing-title {
    color: var(--h2h3text-color);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.whatwearedoing-list {
    display: flex;
    gap: 30px;
}


/* секція Наша команда */
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--h2h3text-color);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-img {
    margin-bottom: 30px;
}

.team-title2 {
    color: var(--h2h3text-color);

text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;

}

.team-text {
    color: var(--text-color);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px;
}

/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: var(--background12text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.logo-spanfooter {
    color: var(--accent-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-link1 {
    color: var(--background12text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
margin-top: 20px;
}

.footer-link2 {
    color: var(--footeradress-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.footer-link3 {
    color: var(--footeradress-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}




/* portfolio */
.section-button{
    padding-top: 94px;
    padding-bottom: 94px;
}


.button:hover {
    color: var(--background12text-color);
    background-color: var(--accent-color);
}

.allaboutus-title {
    color: var(--h2h3text-color);
font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2.00;
letter-spacing: 1.08px;
}

.allaboutus-text {
    color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87; 
letter-spacing: 0.48px;
}

