:root {
    --background12text-color: #FFFFFF;
    --h2h3text-color: #212121;
    --sectionourteam-background: #F5F4FA;
    --footer-background: #2F303A;
    --text-color: #757575;
    --footeradress-color: rgba(255, 255, 255, 0.6);
}

a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

h1 {
    font-family: "Roboto";
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
}

h2 {
    font-family: "Roboto";
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

h3 {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

button {
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.title1,.title2 {
    font-family: "Raleway";
}