.doing {
  background-color: $header-title;
  padding-top: 47px;
  padding-bottom: 94px;
  text-align: center;
  display: none;
  
  @media screen and (min-width: 1200px) {
      display: block;
  }

  &__title {
      @include font($color:$title-color, $size:36px, $weight:700, $height:1.17, $letter-space:1.08px);
      margin-bottom: 50px;
  }

  &__list {
      @include flex();
      gap: 30px;
  }

  &__item {
      position: relative;
  }

  &__burn {
      width: 370px;
      height: 70px;
      background: $image-bcg;
      @include flex();
      position: absolute;
      bottom: 0;
  }

  &__text {
      text-align: center;
      @include font($color:$header-title, $weight:700, $height:1.14);
      text-transform: uppercase;
  }
}

