/* ===== Підписка ===== */
.follow-title {
    color: var(--header-title);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  
  .follow-form {
    display: flex;
    gap: 12px;
  }
  
  .follow-field {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    color: var(--address-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    transition: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .follow-field:hover,
  .follow-field:focus {
    outline: none;
    border: 1px solid var(--button-color);
  }
  
  .follow-button {
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--header-title);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .follow-button:hover,
  .follow-button:focus {
    background-color: var(--active-button);
    outline: none;
  }
  
  .follow-icon {
    width: 24px;
    height: 24px;
    fill: var(--header-title);
  }