/* ===== Підвал ===== */
.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  

  @media screen and (min-width: 1200px) {
      text-align: start;
  }

  &__flex{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 60px;

      @media screen and (min-width: 768px) {
          flex-direction: row;
          gap: 0;
          align-items: start;
      }
  }
}

/* ===== Адреса ===== */
.ft__address {
  margin-left: 0;

  @media screen and (min-width: 768px) {
      margin-right: 165px;
      margin-left: 61px;
  }

  @media screen and (min-width: 1200px) {
      margin-right: 70px;
      margin-left: 0;
  }

  &__link {
      @include font($color:$header-title, $size:24px, $weight:700, $height:1.375, $letter-space:0.72px, $family: $raleway-font);
  
      @media screen and (min-width: 1200px) {
          @include font($color:$header-title, $size:26px, $weight:700, $height:1.39, $letter-space:0.78px, $family: $raleway-font);
      }
  }

  &__logo {
      @include font($color:$button-color, $size:24px, $weight:700, $height:1.375, $letter-space:0.72px, $family: $raleway-font);

      @media screen and (min-width: 1200px) {
          @include font($color:$button-color, $size:26px, $weight:700, $height:1.39, $letter-space:0.78px, $family: $raleway-font);
      }
  }
}

.connect {
  width: 231px;
  height: 79px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 1200px) {
      height: 81px;
      gap: 9px;
  }

  &__location {
      width: 231px;
      height: 21px;
      flex-shrink: 0;
      @include font($color:$header-title);
      @include transition();

      &:hover, 
      &:focus {
          color: $button-color;
      }
  }

  &__list {
      display: flex;
      flex-direction: column;
      gap: 9px;
  }

  &__link {
      width: 136px;
      height: 21px;
      flex-shrink: 0;
      @include font($color:$address-color);
      @include transition();
      
      &:hover, 
      &:focus {
          color: $button-color;
      }
  }
}