/* ===== Соцмережі ===== */
.ft__social {

  @media screen and (min-width: 1200px) {
      margin-right: 94px;
  }

  &__title {
      @include font($color:$header-title, $weight:700, $height:1.14);
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
          margin-top: 5px;
      }

      @media screen and (min-width: 1200px) {
          margin-top: 12px;
      }
  }

  &__list {
      @include flex();
      gap: 10px;
  }

  &__link {
      width: 44px;
      height: 44px;
      background-color: $social-bcg;
      border-radius: 50%;
      @include flex();
      @include transition($name-transition:background-color);

      &:hover,
      &:focus {
          background-color: $button-color;
          outline: none;
      }
  }

  &__icon {
      width: 20px;
      height: 20px;
      fill: $header-title;
  }
}



