img {
    display: block;
}

a {
    text-decoration: none;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, body {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}