    $social-bcg: #44454e;
    $footer-background: #2f303a;
    $icon-color: #afb1b8;
    $address-color: rgba(255, 255, 255, 0.6);
    $portion-color: #757575;
    $button-color: #2196f3;
    $logo-color: #000000;
    $header-color: #ececec;
    $our-command-background: #f5f4fa;
    $title-color: #212121;
    $header-title: #ffffff; 
    $active-button: #1d84d8;



/* ===== Змінні кольорів ===== */
// :root {
//     --social-bcg: #44454e;
//     --footer-background: #2f303a;
//     --icon-color: #afb1b8;
//     --address-color: rgba(255, 255, 255, 0.6);
//     --portion-color: #757575;
//     --button-color: #2196f3;
//     --logo-color: #000000;
//     --header-color: #ececec;
//     --our-command-background: #f5f4fa;
//     --title-color: #212121;
//     --header-title: #ffffff;
//     --active-button: #1d84d8;
//   }