@charset "UTF-8";
img {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, body {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* ===== Змінні кольорів ===== */
/*Контейнер*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  font-family: "Roboto";
  margin: 0;
  padding-top: 80px;
}

.header {
  background-color: #FFFFFF;
  padding: 16px 0;
  border-bottom: 1px #ECECEC solid;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
  z-index: 100;
  /* ===== Пошта та телефон ===== */
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
    min-height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0 25px 0;
    min-height: 80px;
  }
}
.header__bace {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__bace {
    display: flex;
    justify-content: normal;
    align-items: center;
  }
}
.header__link {
  font-family: "Raleway";
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-family: "Raleway";
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-family: "Raleway";
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
  }
}
.header__logo {
  font-family: "Raleway";
  color: #2196F3;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-family: "Raleway";
    color: #2196F3;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-family: "Raleway";
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
  }
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    flex-direction: row;
    gap: 30px;
  }
}
.header__social {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 10px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__social {
    font-family: "Roboto";
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.24px;
  }
}
@media screen and (min-width: 1200px) {
  .header__social {
    font-family: "Roboto";
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
  }
}
.header__item:nth-child(1) > .header__social:hover, .header__item:nth-child(1) > .header__social:focus {
  color: #2196F3;
}
.header__item:nth-child(1) > .header__social:hover .header__icon, .header__item:nth-child(1) > .header__social:focus .header__icon {
  fill: #2196F3;
}
.header__item:nth-child(2) > .header__social:hover, .header__item:nth-child(2) > .header__social:focus {
  color: #2196F3;
}
.header__item:nth-child(2) > .header__social:hover .header__icon, .header__item:nth-child(2) > .header__social:focus .header__icon {
  fill: #2196F3;
}
.header__item:nth-child(1) > .header__social > .header__icon {
  fill: #757575;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .header__item:nth-child(1) > .header__social > .header__icon {
    width: 16px;
    height: 12px;
  }
}
.header__item:nth-child(2) > .header__social > .header__icon {
  fill: #757575;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header__item:nth-child(2) > .header__social > .header__icon {
    width: 10px;
    height: 16px;
  }
}

/* ===== Навігація ===== */
.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}
.nav__list {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 9px;
}
.nav__link {
  font-family: "Roboto";
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
  margin-top: 31px;
  opacity: 0;
  transform: scale(0);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
  transform: scale(1);
}

/* ===== Активна сторінка ===== */
.active {
  font-family: "Roboto";
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
  margin-top: 31px;
  opacity: 1;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/team_work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__box {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  font-family: "Roboto";
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  font-family: "Roboto";
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.149);
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: hero-button;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: #1d84d8;
  outline: none;
}

@keyframes hero-button {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.25);
  }
}
/*Секція bang*/
.bang {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .bang {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.bang__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.bang__item:nth-child(1)::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url("../../images/antenna.png");
  display: inline-flex;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
@media screen and (min-width: 480px) {
  .bang__item:nth-child(1)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .bang__item:nth-child(1)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .bang__item:nth-child(1)::before {
    width: 270px;
    height: 120px;
  }
}
.bang__item:nth-child(2)::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url("../../images/clock.png");
  display: inline-flex;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
@media screen and (min-width: 480px) {
  .bang__item:nth-child(2)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .bang__item:nth-child(2)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .bang__item:nth-child(2)::before {
    width: 270px;
    height: 120px;
  }
}
.bang__item:nth-child(3)::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url("../../images/actens.png");
  display: inline-flex;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
@media screen and (min-width: 480px) {
  .bang__item:nth-child(3)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .bang__item:nth-child(3)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .bang__item:nth-child(3)::before {
    width: 270px;
    height: 120px;
  }
}
.bang__item:nth-child(4)::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url("../../images/astronaut.png");
  display: inline-flex;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
@media screen and (min-width: 480px) {
  .bang__item:nth-child(4)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .bang__item:nth-child(4)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .bang__item:nth-child(4)::before {
    width: 270px;
    height: 120px;
  }
}
.bang__subtitle {
  font-family: "Roboto";
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bang__subtitle {
    text-align: start;
  }
}
.bang__text {
  width: 100%;
  flex-shrink: 0;
  font-family: "Roboto";
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 480px) {
  .bang__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .bang__text {
    width: 354px;
    height: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .bang__text {
    width: 270px;
    height: 72px;
  }
}

.doing {
  background-color: #FFFFFF;
  padding-top: 47px;
  padding-bottom: 94px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}
.doing__title {
  font-family: "Roboto";
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.doing__item {
  position: relative;
}
.doing__background {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  animation-name: doing-animation;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.doing__text {
  text-align: center;
  font-family: "Roboto";
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@keyframes doing-animation {
  0% {
    height: 70px;
  }
  20% {
    height: 294px;
  }
  40% {
    height: 70px;
  }
  60% {
    height: 147px;
  }
  80% {
    height: 70px;
  }
  100% {
    height: 294px;
  }
}
.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-family: "Roboto";
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-family: "Roboto";
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
.team__text {
  margin-top: 30px;
  margin-bottom: 16px;
}
.team__name {
  font-family: "Roboto";
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
}
.team__speciality {
  font-family: "Roboto";
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team__image {
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  outline: none;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #FFFFFF;
}
.social__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #AFB1B8;
  transition: fill;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== Секція Постійні Клієнти ===== */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  outline: none;
  border: 1px solid var(--button-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--button-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  fill: var(--icon-color);
  padding: 9px 11px;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== Підвал ===== */
.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom {
  display: flex;
}

/* ===== Адреса ===== */
.ftrl-address {
  margin-right: 70px;
}

.footer-address {
  width: 231px;
  height: 81px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-link {
  color: var(--header-title);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: var(--button-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: 0.78px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-location {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: var(--header-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-location:hover,
.address-location:focus {
  color: var(--button-color);
}

.address-link {
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  color: var(--address-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--button-color);
}

/* ===== Соцмережі ===== */
.footer-social {
  margin-right: 94px;
  margin-left: 70px;
}

.footer-social-title {
  color: var(--header-title);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--social-bcg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-color);
  outline: none;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--header-title);
}

/* ===== Підписка ===== */
.follow-title {
  color: var(--header-title);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.follow-form {
  display: flex;
  gap: 12px;
}

.follow-field {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: var(--address-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-field:hover,
.follow-field:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.follow-button {
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--header-title);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-button:hover,
.follow-button:focus {
  background-color: var(--active-button);
  outline: none;
}

.follow-icon {
  width: 24px;
  height: 24px;
  fill: var(--header-title);
}

/* ===== Модальне Вікно ===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 100;
  height: 100%;
}

.is-hidden {
  /* visibility: unset; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  transform: translate(-50%, -50%);
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--header-title);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-title {
  color: var(--title-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-text {
  color: var(--portion-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}

.modal-row {
  position: relative;
}

.modal-field {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover,
.modal-field:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  left: 11px;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover + .modal-icon,
.modal-field:focus + .modal-icon {
  fill: var(--button-color);
}

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.modal-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-color);
  accent-color: #2196F3;
}

.modal-q {
  margin-right: 5px;
  color: var(--portion-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal-deal {
  color: var(--button-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-button {
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--header-title);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  margin-left: 124px;
  margin-right: 124px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--active-button);
  outline: none;
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--header-title);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--button-color);
  transform: scale(0);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== Основна Частина ===== */
/* ===== Секція ===== */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===== Список Кнопок ===== */
.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.buttons-button {
  border: none;
  border-radius: 4px;
  background: var(--our-command-background);
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  padding: 6px 25px;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-button:hover,
.buttons-button:focus {
  background-color: var(--button-color);
  color: var(--header-title);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* ===== Список Проєктів ===== */
.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projects-item {
  border: 1px solid var(--card-border);
  background: var(--header-title);
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  /* transform: translateY(0); */
}
.projects-item:hover .image-text,
.projects-item:focus .image-text {
  opacity: 1;
  transform: translateY(0);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
  /*   
  transform: translatey(100%);
  transition: transform 250ms ease-in-out; */
}

.projects-image {
  width: 100%;
  overflow: hidden;
}

.image-text {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--header-title);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100px);
  transition: transform 2s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /* transform: translateY(-100%); */
}

.project-text {
  padding: 20px 24px;
}

.projects-name {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.projects-type {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */